<div class="tree-node"> 1 </div>
<ul>
    <li>
        <div class="tree-node"> 2 </div>
        <ul>
            <li>
                <div class="tree-node"> 3 </div>
                <ul>
                    <li>
                        <div class="tree-node"> 4 </div>
                    </li>
                    <li></li>
                </ul>
            </li>
            <li>
                <div class="tree-node"> 5 </div>
                <ul>
                    <li></li>
                    <li>
                        <div class="tree-node"> 9 </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <div class="tree-node"> 6 </div>
        <ul>
            <li>
                <div class="tree-node"> 7 </div>
                <ul>
                    <li>
                        <div class="tree-node"> 8 </div>
                    </li>
                    <li>
                        <div class="tree-node"> 9 </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="tree-node"> 8 </div>
            </li>
        </ul>
    </li>
</ul>